<% @collaborations.each do |collaboration| %>
  <%# Hide owner's name %>
  <% unless collaboration.user == current_user %>
    <div>
      <p><%= collaboration.user.full_name %></p>
      <%= simple_form_for(collaboration) do |f| %>
        <%= f.select :role, [['Editor','editor'], ['Viewer', 'viewer']] %>
      <% end %>
    </div>
  <% end %>
<% end %>
