#new-itinerary {
  background-color: white;
}

.search-pop-up {
  // display: none;
  z-index: -1;
  position: absolute;
  background-color: aqua;
  border-radius: 8px;
  padding: 8px;

  &.active {
    z-index: 100;
  }
}
